{% extends 'main/base.html' %}
{% load static %}

{% block content %}
<div class="content text-center">

    <div class="row">
        <div class="col-lg-6">
            {% if product.type == 1 %}
                <img style='margin-top: 5rem; margin-left: 10rem; width: 38rem; float: left;' src="{% static 'images/products/tees/' %}{{ product.image }}" alt="">
            {% elif product.type == 2 %}
                <img style='margin-top: 5rem; margin-left: 10rem; width: 38rem; float: left;' src="{% static 'images/products/pants/' %}{{ product.image }}" alt="">
            {% elif product.type == 3 %}
                <img style='margin-top: 5rem; margin-left: 10rem; width: 38rem; float: left;' src="{% static 'images/products/shoes/' %}{{ product.image }}" alt="">
            {% endif %}
        </div>
        <div class="col-lg-6">
            <h1 class="title" style='margin-top: 10rem; font-size: 4rem;'>{{ product.name }}</h1>
            <h2 style='font-size: 3rem;'>{{ product.price }}</h2>
            <button class='btn btn-outline-dark'><a href="{% url 'cart_add' %}/{{ product.id }}">Add To Cart</a></button>
        </div>
    </div>
</div>
{% endblock %}